*.pyc
storage.db
node_modules
.tmp
coverage
etc/static_collected
docs
.env
npm-debug.log
.tox*
*.egg*
.idea/
*.idea/
junit-*.xml
bower_components
Gruntfile.js
Gruntfile.js.map
web/dist/
web/**/*.js
web/**/*.js.map
deploy*.zip
dist.zip
web.zip
.coverage
coverage.xml
devlocal.py
*.log
.cache
.idea
*.DS_Store
web/app/device/
pylint.out
bandit.xml
nosetests.xml
media
service/uploadmedia/
.vscode
dist/
*.egg-info
*.out
*.pot
*.py[co]
*version__.py
__pycache__
env/
venv/
build/
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
tests/report/
.env
.eggs/
.idea/
.venv/
